
<h1>The Gossip Project</h1>
<p>Retrouve ici tous les potins de la promotion The Hacking Project 4 </p>


<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <h3>
    Retrouve ici les gossips des moussaillons 🎓
  </h3>
  <%= link_to "Enregistre-toi !", '#', class: "btn btn-lg btn-primary" %>
</div>
